body{
  margin: 0;
  padding: 0;
}
ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}

.container{
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}

.sound-grid{
  position: fixed;
  display: block;
  background: #F60;
}

.row-height,
.column-width,
.mod-height{
  display: block;
}

.grid-column{
  float: left;
}

.instrument-title{
  width: 100px;
  background: #FFF;
  float: left;
}

.mod-title{
  width: 100px;
  background: #999;
  float: left;
}
