<!-- create directive that draws the grid at correct size, splits columns up at 64 places, then draws in the rows -->
<div class="sound-grid" sound-grid ng-controller="GridController">
	
	<div class="grid-row row-height mod-{{$index}}" ng-repeat="mod in mods">

    <div class="instrument-title row-height">
      mod-{{$index}}
    </div>
    <div ng-hide="mod.mods" class="grid-column row-height column-width beat-{{$index}}" ng-repeat="beat in loop" ng-click="gridClick($index, parent.$index)">
      {{beat.id}}
      {{beat.note}}
    </div>

	</div>

</div>